[submodule ".guidelines"]
	path = .guidelines
	url = https://github.com/alexandrelheinen/guidelines.git
	branch = main
	update = merge
[submodule "third_party/aws-robomaker-small-warehouse-world"]
	path = third_party/aws-robomaker-small-warehouse-world
	url = https://github.com/aws-robotics/aws-robomaker-small-warehouse-world.git
	branch = ros1
