[submodule "standards/guidelines"]
	path = standards/guidelines
	url = https://github.com/alexandrelheinen/guidelines.git
	branch = main
[submodule "standards/cc-sdd"]
	path = standards/cc-sdd
	url = https://github.com/gotalab/cc-sdd.git
